<div>
  <div id="products-container" class="container">
    {{#if user}}
    <div class="d-flex flex-row-reverse">
      <form action="/sessions/logout" method="POST">
        <div class="row">

          <div class="col">
            <h5>
              User: {{user.email}}, Role: {{user.role}}
            </h5>
          </div>
          <div class="col">
            <button type="submit" id="logout_button" class="btn btn-outline-primary">Log out</button>
          </div>

        </div>
      </form>
    </div>
    {{/if}}


    {{#if products}}
    {{#each products}}
    <div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{this.thumbnails}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.description}}</p>
          <a href="#" class="btn btn-outline-primary">$ {{this.price}}</a>
        </div>
      </div>
    </div>
    {{/each }}
    {{/if}}
  </div>