<div class="container">
  {{#if user}}
  <div class="d-flex flex-row-reverse">
    <form id="logout_form" method="POST">
      <div class="row">

        <div class="col">
          <h5>
            User: {{user.email}}, Role: {{user.role}}
          </h5>
        </div>
        <div class="col">
          <button type="submit" id="logout_button" class="btn btn-outline-primary">Log out</button>
        </div>

      </div>
    </form>
  </div>
  {{/if}}


  <div>
    <h1>
      New password
    </h1>
  </div>
  <hr />
  <form id="new_password_form" method="POST">
    <div>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="password" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
          <input type="password" name="password" id="password_input" class="form-control">
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="password2" class="col-form-label">Repeat password</label>
        </div>
        <div class="col-auto">
          <input type="password" name="password2" id="password_input_2" class="form-control">
        </div>
      </div>
    </div>


    <div>

      {{#if user}}
      <button id="login_button_disabled" class="btn btn-primary" disabled="true">Create new password</button>
      {{else}}
      <button type="submit" id="login_button" class="btn btn-primary">Create new password</button>
      {{/if}}
    </div>
  </form>
  <hr />
  <input type="text" value="{{token}}" id="token" hidden></input>
  <input type="text" value="{{message.text}}" id="message.text" hidden></input>
  <input type="text" value="{{message.type}}" id="message.type" hidden></input>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/new-password.js"></script>
<script src="/static/js/logout.js"></script>